html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */
#root {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.inputs {
  background-color: rgba(128, 128, 128, 0.185);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  gap: 30px;
}

.all-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.all-inputs h3 {
  text-align: center;
  font-weight: bold;
}

label {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

textarea {
  min-height: 100px;
}

.display {
  padding: 20px;
}

.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 21cm;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.right-col {
  background-color: rgba(126, 172, 157, 0.489);
}
